.App {
  text-align: center;
  display: block;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body{
  align-items: center;
  justify-content: center;
}

.App-button{
  margin: 5px;
}